name: Blinky CI/CD

on: push

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: ["ubuntu-latest"]
        go-version: ["1.24", "1.25"]

    steps:
      - uses: actions/checkout@v6

      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}

      - name: Run tests
        env:
          CGO_ENABLED: 0
        run: go test ./...

  build-server:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: ["ubuntu-latest"]
        go-version: ["1.25"]
        go-os-arch: ["linux/amd64", "linux/arm64", "linux/arm"]

    steps:
      - uses: actions/checkout@v6

      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}

      - name: Compute GOOS and GOARCH
        env:
          IFS: "/"
        run: |
          echo "COMP_GOOS=$(echo ${{ matrix.go-os-arch }} | cut -d/ -f1 -)" >> $GITHUB_ENV
          echo "COMP_GOARCH=$(echo ${{ matrix.go-os-arch }} | cut -d/ -f2 -)" >> $GITHUB_ENV

      - name: Set suffix (windows)
        if: contains(matrix.go-os-arch, 'windows')
        run: echo "EXEC_SUFFIX=.exe" >> $GITHUB_ENV

      - name: Set suffix (literally everything else)
        if: "!contains(matrix.go-os-arch, 'windows')"
        run: echo "EXEC_SUFFIX=$("")" >> $GITHUB_ENV

      - name: Set version for ldflags (tag ref)
        if: startsWith(github.ref, 'refs/tags/')
        run: echo "LDFLAGS_VERSION=$(echo ${GITHUB_REF:10})" >> $GITHUB_ENV

      - name: Set version for ldflags (non-tag ref)
        if: "!startsWith(github.ref, 'refs/tags/')"
        # Makes the embedded version "{branch-name}-develop"
        run: echo "LDFLAGS_VERSION=$(echo ${GITHUB_REF:11})-develop" >> $GITHUB_ENV

      - name: Build executable
        env:
          CGO_ENABLED: 0
          GOARM: 7
          GOOS: ${{ env.COMP_GOOS }}
          GOARCH: ${{ env.COMP_GOARCH }}
        run: go build -o blinkyd-${{ env.COMP_GOOS }}-${{ env.COMP_GOARCH }}${{ env.EXEC_SUFFIX }} -ldflags="-s -w -X 'github.com/BrenekH/blinky/vars.Version=${{ env.LDFLAGS_VERSION }}'" cmd/blinkyd/main.go

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: blinkyd-${{ env.COMP_GOOS }}-${{ env.COMP_GOARCH }}${{ env.EXEC_SUFFIX }}
          path: ${{ github.workspace }}/blinkyd-${{ env.COMP_GOOS }}-${{ env.COMP_GOARCH }}${{ env.EXEC_SUFFIX }}

  build-cli:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: ["ubuntu-latest"]
        go-version: ["1.25"]
        go-os-arch: ["linux/amd64", "linux/arm64", "linux/arm"]

    steps:
      - uses: actions/checkout@v6

      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}

      - name: Compute GOOS and GOARCH
        env:
          IFS: "/"
        run: |
          echo "COMP_GOOS=$(echo ${{ matrix.go-os-arch }} | cut -d/ -f1 -)" >> $GITHUB_ENV
          echo "COMP_GOARCH=$(echo ${{ matrix.go-os-arch }} | cut -d/ -f2 -)" >> $GITHUB_ENV

      - name: Set suffix (windows)
        if: contains(matrix.go-os-arch, 'windows')
        run: echo "EXEC_SUFFIX=.exe" >> $GITHUB_ENV

      - name: Set suffix (literally everything else)
        if: "!contains(matrix.go-os-arch, 'windows')"
        run: echo "EXEC_SUFFIX=$("")" >> $GITHUB_ENV

      - name: Set version for ldflags (tag ref)
        if: startsWith(github.ref, 'refs/tags/')
        run: echo "LDFLAGS_VERSION=$(echo ${GITHUB_REF:10})" >> $GITHUB_ENV

      - name: Set version for ldflags (non-tag ref)
        if: "!startsWith(github.ref, 'refs/tags/')"
        # Makes the embedded version "{branch-name}-develop"
        run: echo "LDFLAGS_VERSION=$(echo ${GITHUB_REF:11})-develop" >> $GITHUB_ENV

      - name: Build executable
        env:
          CGO_ENABLED: 0
          GOARM: 7
          GOOS: ${{ env.COMP_GOOS }}
          GOARCH: ${{ env.COMP_GOARCH }}
        run: go build -o blinky-${{ env.COMP_GOOS }}-${{ env.COMP_GOARCH }}${{ env.EXEC_SUFFIX }} -ldflags="-s -w -X 'github.com/BrenekH/blinky/vars.Version=${{ env.LDFLAGS_VERSION }}'" cmd/blinky/main.go

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: blinky-cli-${{ env.COMP_GOOS }}-${{ env.COMP_GOARCH }}${{ env.EXEC_SUFFIX }}
          path: ${{ github.workspace }}/blinky-${{ env.COMP_GOOS }}-${{ env.COMP_GOARCH }}${{ env.EXEC_SUFFIX }}

  deploy-container-images-tags:
    runs-on: ubuntu-latest
    needs: [test, build-server]

    steps:
      - uses: actions/checkout@v6

      - name: Generate Docker Metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/brenekh/blinky
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Cache Docker layers
        uses: actions/cache@v5
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-blinky-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-blinky-buildx-

      # - name: Login to DockerHub
      #   uses: docker/login-action@v1
      #   with:
      #     username: ${{ secrets.DOCKERHUB_USERNAME }}
      #     password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set version for ldflags (tag ref)
        if: startsWith(github.ref, 'refs/tags/')
        run: echo "LDFLAGS_VERSION=$(echo ${GITHUB_REF:10})" >> $GITHUB_ENV

      - name: Set version for ldflags (non-tag ref)
        if: "!startsWith(github.ref, 'refs/tags/')"
        # Makes the embedded version "{branch-name}-develop"
        run: echo "LDFLAGS_VERSION=$(echo ${GITHUB_REF:11})-develop" >> $GITHUB_ENV

      - name: Build and push container images/tags
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/amd64
          build-args: LDFLAGS_VERSION=${{ env.LDFLAGS_VERSION }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new

      - name: Move cache
        # Temp fix
        # https://github.com/docker/build-push-action/issues/252
        # https://github.com/moby/buildkit/issues/1896
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache

  release-to-github:
    runs-on: ubuntu-latest
    needs: [test, build-server, build-cli]
    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - name: Set PREREL environment variable
        env:
          TAG: ${{ github.ref }}
        run: echo "PREREL=$(if [[ $TAG =~ "alpha" ]] || [[ $TAG =~ "beta" ]] || [[ $TAG =~ "rc" ]]; then echo "true"; else echo "false"; fi;)" >> $GITHUB_ENV

      - name: Sanitize github.ref
        run: echo "TAG_USED=$(echo ${GITHUB_REF:10})" >> $GITHUB_ENV

      - name: Download build artifacts
        uses: actions/download-artifact@v7
        with:
          path: ${{ github.workspace }}/build-artifacts

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          name: Version ${{ env.TAG_USED }}
          prerelease: ${{ env.PREREL }}
          draft: true
          generate_release_notes: true
          files: ${{ github.workspace }}/build-artifacts/*/*
